<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>DamiSparks</title>
  </head>
  <body class="container">
    <h1>Hello Dami</h1>
<div class="card
">
    hihoihi
</div>
    <!-- Optional JavaScript -->
    <script src="/js/jquery.slim.min.js"></script>
  </body>
</html>
